/* resets */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utilities */

body,
html {
  background-color: #212529;
  color: #fff;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* table */

.movie-table {
  height: 70%;
  width: 70%;
}

/* modal */
.modal {
  color: #000;
}
