@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* resets */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* Utilities */

body,
html {
  background-color: #212529;
  color: #fff;
}

#navbar {
  display: flex;
  top: 0;
  color: #fff;
  justify-content: space-between;
  padding: 0.3rem;
  width: 100%;
  background-color: #343a40;
  margin-bottom: 3rem;
}

#navbar ul {
  display: flex;
  align-items: center;
}

#navbar li {
  padding-top: 1rem;
  font-weight: bold;
}

#navbar li:last-child {
  padding-right: 4rem;
}

.brand {
  font-family: 'Cookie';
  font-size: 30px;
  padding: 1rem 0;
  padding-left: 4rem;
}

.nav-links {
  background: none !important;
  border: none;
  cursor: pointer;
}

.user {
  font-size: 18px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie-table {
  height: 70%;
  width: 70%;
}

.modal {
  color: #000;
}

.alert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
  text-align: center;
  font-weight: bold;
}
